:root {
    --song-size: 24xp;
    --coord-top: 0;
    --coord-bottom: 0;
    --coord-left: 0;
    --coord-right: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 3s;
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}

.oldBack {
    background: #ff0000;
}

.newBack {
    background: #d0d0d0;
    flex-direction: column;
}

.hidden {
    display: none;
}

.logo {
    transition-duration: 3s;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.range {
    width: 60%;
    appearance: none;
    transition-duration: 1s;
}

input[type=range]::-webkit-slider-thumb {
    background: #D9D9D9;

    border-radius: 50px;
    padding: 10px;

    cursor: pointer;
    height: 25px;
    width: 25px;

    -webkit-appearance: none;

    margin-top: -12px;

    transition-duration: .2s;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #a9a9a9;
}

input[type=range]::-webkit-slider-thumb:active {
    background: #676767;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 2px;
    background-color: #959595;
}

.titles {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.title {
    display: inline;
    position: absolute;
    color: #d0d0d0;
    font-family: 'Tenor Sans', sans-serif;
    transition: opacity 1s;
    font-size: var(--song-size);
    top: var(--coord-top);
    right: var(--coord-right);
    margin: 0;
    user-select: none;
}

.appear {
    opacity: 1;
}

.disappear {
    opacity: 0;
}

.placeholder {
    color: #3b3b3b;
    font-size: 48px;
    font-family: 'Tenor Sans', sans-serif;
    transition-duration: 2s;
    width: 75%;
    text-align: center;
}

.timer-box {
    transition: opacity 4s;
}

.timer {
    display: flex;
}

.timers-part {
    transition: opacity 3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 120px;
    font-size: 96px;
    font-family: 'Oswald', sans-serif;
    color: #d0d0d0;
    background: #3b3b3b;
    border-radius: 10px;
    text-align: center;
    margin-right: 25px;
    position: relative;
}

.timers-part::before {
    content: '';
    background: #565656;
    width: 150px;
    height: 30px;
    position: absolute;
    z-index: -1;
}

.timers-part::after {
    content: '';
    background: #d0d0d0;
    width: 140px;
    height: 2px;
    position: absolute;
    z-index: 1;
}

.timer-digits {
}

.timer-digits::after {
    text-transform: uppercase;
    position: absolute;
    font-size: 36px;
    color: #3b3b3b;
    bottom: -40%;
}

.days::after {
    content: 'days';
    left: 25%;
}

.hours::after {
    content: 'hours';
    left: 12%;
}

.minutes::after {
    content: 'minutes';
    left: 5%;
}

.seconds::after {
    content: 'seconds';
    left: 2%;
}

.timer-digits {
    margin-bottom: 10px;
}

.timers-part:last-child {
    margin-right: 0;
}

.album-title {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 72px;
    color: #565656;
    margin-bottom: 36px;
    transition: 2s;
}

.trans-album-title {
    position: absolute;
    top: 37%;
}

.album-description {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 24px;
    color: #565656;
    width: 70%;
    transition: opacity 2s;
}










.for-test {
    position: absolute;
    bottom: 10px;
    left: 10px;
    transition: opacity 2s;
}

.cheat {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background: #565656;
    box-shadow: 0 0 0 2px #d0d0d0,
                0 0 0 4px #565656;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.cheat:hover {
    background: #414141;
}

.cheat:active {
    background: #282828;
}

.cheat-label {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 16px;
    color: #565656;
    margin-left: 10px;
    bottom: 15px;
}

@media (max-device-width: 1079px) {
    input[type=range]::-webkit-slider-thumb {
        margin-top: -40px;
        height: 80px;
        width: 80px;
    }


    .range {
        position: absolute;
        bottom: 15%;
        width: 80%
    }
}
