:root {
    --song-size: 24xp;
    --coord-top: 0;
    --coord-bottom: 0;
    --coord-left: 0;
    --coord-right: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    align-items: center;
    transition-duration: 3s;
    width: 100%;
}

.no-scroll {
    position: fixed;
    overflow-y: scroll;
}

.justy {
    justify-content: center;
}

.oldBack {
    background: #3b3b3b;
}

.newBack {
    background: #d0d0d0;
    flex-direction: column;
}

.hidden {
    display: none !important;
}

.launch-block {
    display: flex;
    justify-content: center;
    transition: 1.5s;
    width: 100%;
}

.launch {
    margin: auto 0;
    color: #a2a2a2;
    font-size: 72px;
    font-family: 'Tenor Sans', sans-serif;
}

.launch-img {
    position: relative;
    right: 20px;
    bottom: 10px;
}

.logo {
    transition-duration: 3s;
    align-self: center;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 1.5s;
}

.range {
    width: 60%;
    appearance: none;
    transition-duration: 1s;
}

input[type=range]::-webkit-slider-thumb {
    background: #D9D9D9;

    border-radius: 50px;
    padding: 10px;

    cursor: pointer;
    height: 25px;
    width: 25px;

    -webkit-appearance: none;

    margin-top: -12px;

    transition-duration: .2s;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #a9a9a9;
}

input[type=range]::-webkit-slider-thumb:active {
    background: #676767;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 2px;
    background-color: #959595;
}

.titles {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.title {
    display: inline;
    position: absolute;
    color: #d0d0d0;
    font-family: 'Tenor Sans', sans-serif;
    transition: opacity 1s;
    font-size: var(--song-size);
    top: var(--coord-top);
    right: var(--coord-right);
    margin: 0;
    user-select: none;
}

.appear {
    opacity: 1;
}

.disappear {
    opacity: 0;
}

.placeholder {
    color: #3b3b3b;
    font-size: 48px;
    font-family: 'Tenor Sans', sans-serif;
    transition-duration: 2s;
    width: 75%;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 3s;
    margin-bottom: auto;
    padding-top: 45px;
    padding-bottom: 85px;
    width: 100%;
    box-shadow: #3b3b3b 0 1px 20px;
}

.lowerPart {
    display: flex;
    justify-items: flex-start;
    margin-bottom: auto;
    padding: 50px;
}

.tracklist, .monraus-text {
    background: #565656;
    color: #d0d0d0;
    font-size: 24px;
    font-family: 'Tenor Sans', sans-serif;
    align-self: flex-start;
    transition: 3s;
    padding: 25px;
    border-radius: 15px;
    min-width: 250px;
}

.tracklist {
    line-height: 15px;
    padding-right: 35px;
}

.menu-title {
    text-align: center;
}

.song-name {
    margin: 0 0 5px;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    color: #d0d0d0;
    transition: .2s;
}

.song-name:hover {
    color: #a2a2a2;
}

.feat {
    font-size: 18px;
    line-height: 20px;
    position: relative;
    bottom: 0px;
    left: 30px;
}

.feat.last {
    left: 35px;
}

.monraus-text {
    max-width: 700px;
    margin-right: 50px;
}

.networks {
    display: flex;
    width: 70%;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 15px;
    margin-top: -5px;
    border-radius: 10px;
    justify-content: space-around;
}

.networks > a {
    margin-right: 15px;
    margin-bottom: 40px;
}

.networks > a:last-child {
    margin-right: 0;
}

.timer-box {
    transition: opacity 4s;
}

.timer {
    display: flex;
}

.timers-part {
    transition: opacity 3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 120px;
    font-size: 96px;
    font-family: 'Oswald', sans-serif;
    color: #d0d0d0;
    background: #3b3b3b;
    border-radius: 10px;
    text-align: center;
    margin-right: 25px;
    position: relative;
}

.timers-part::before {
    content: '';
    background: #565656;
    width: 150px;
    height: 30px;
    position: absolute;
    z-index: -1;
}

.timers-part::after {
    content: '';
    background: #d0d0d0;
    width: 140px;
    height: 2px;
    position: absolute;
    z-index: 1;
}

.timer-digits::after {
    text-transform: uppercase;
    position: absolute;
    font-size: 36px;
    color: #3b3b3b;
    bottom: -40%;
}

.days::after {
    content: 'days';
    left: 25%;
}

.hours::after {
    content: 'hours';
    left: 12%;
}

.minutes::after {
    content: 'minutes';
    left: 5%;
}

.seconds::after {
    content: 'seconds';
    left: 2%;
}

.timer-digits {
    margin-bottom: 10px;
}

.timers-part:last-child {
    margin-right: 0;
}

.album-title {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 72px;
    color: #565656;
    margin-bottom: 36px;
    transition: 2s;
}

.trans-album-title {
    position: absolute;
    top: 37%;
}

.album-description {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 24px;
    color: #565656;
    width: 70%;
    transition: opacity 2s;
    text-align: center;
}








/*####################################   FOR TEST   ####################################*/

.for-test {
    position: fixed;
    bottom: 10px;
    left: 10px;
    transition: opacity 2s;
}

.cheat {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background: #565656;
    box-shadow: 0 0 0 2px #d0d0d0,
                0 0 0 4px #565656;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.cheat:hover {
    background: #414141;
}

.cheat:active {
    background: #282828;
}

.cheat-label {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 16px;
    color: #565656;
    margin-left: 10px;
    bottom: 15px;
}

/*####################################   FOR TEST   ####################################*/





@media (max-device-width: 720px) {
    input[type=range]::-webkit-slider-thumb {
        margin-top: -40px;
        height: 80px;
        width: 80px;
    }

    .range {
        position: absolute;
        width: 130%;
        transform: translate(30%, -50%) rotate(-90deg);
    }

    .container {
        position: relative;
        width: 103%;
        top: 0;
    }

    .lowerPart {
        flex-direction: column;
    }

    .tracklist, .monraus-text {
        margin-top: 40px;
        margin-right: 0;
    }

    .networks {
        width: 100%;
        padding-top: 40px;
        box-shadow: #3b3b3b 0 -1px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        grid-row-gap: 35px;
        justify-items: center;
    }

    .networks > a {
        margin: 0;
        margin-bottom: 20px;
        transform: scale(1.6);
    }
}
